.detailsSection {
  width: 100%;
  margin-bottom: 60px;
}

.titleWrapper {
  height: 112px;
  margin-bottom: 28px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 8px;
}

.info {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.infoItem {
  display: flex;
  gap: 4px;
  font-weight: 400;
}

.infoItem:first-child {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.iconStar {
  fill: #ffc531;
}

.iconMap {
  fill: #101828;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
}

.galleryList {
  display: flex;
  gap: 48px;
}

.galleryItem {
  width: 292px;
  height: 312px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  background-color: #dadde1;
  box-shadow: 0px 4px 12px rgba(218, 221, 225, 0.7);
  margin-bottom: 28px;
  position: relative;
}

.galleryImage {
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  min-width: 292px;
  min-height: 312px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.modalImage {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #dadde1;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 10px;
  stroke: #475467;
}

.description {
  font-weight: 400;
  color: #475467;
}

.plus {
  stroke: #fff;
  fill: transparent;
  position: absolute;
  top: 10px;
  right: 10px;

  z-index: 2;
}
