.boockingSection {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 44px 57px;
  width: 100%;
  height: 588px;
}
.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.subtitle {
  font-weight: 400;
  margin-bottom: 24px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
}
.label {
  position: relative;
  width: 100%;
}
.input {
  border-radius: 12px;
  width: 100%;
  height: 60px;
  border: none;
  background-color: #f7f7f7;
  padding: 18px;
  transition: all 350ms linear;
}
.datePicker {
  width: 515px;
  border-radius: 12px;
  height: 60px;
  border: none;
  background-color: #f7f7f7;
  padding: 18px;
  transition: all 350ms linear;
}

.comment {
  border-radius: 12px;
  width: 100%;
  height: 118px;
  border: none;
  background-color: #f7f7f7;
  padding: 18px;
  overflow-y: auto;
  resize: none;
  outline: none;
  transition: all 350ms linear;
}

.comment::-webkit-scrollbar {
  width: 8px;
}

.comment::-webkit-scrollbar-thumb {
  background-color: #6c717b;
  border-radius: 10px;
  border: 2px solid #f7f7f7;
}

.comment::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.input::placeholder,
.comment::placeholder {
  font-weight: 400;
  color: #6c717b;
}

.datePicker:hover,
.datePicker:active,
.datePicker:focus,
.input:hover,
.input:active,
.input:focus,
.comment:hover,
.comment:active,
.comment:focus {
  box-shadow: 0px 4px 12px rgba(218, 221, 225, 0.7);
}

.error {
  position: absolute;
  z-index: 1;
  color: #e44848;
  font-size: 12px;
  top: 58px;
}

.btn {
  margin: 0 auto;
}
