.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.item {
  display: flex;
  padding: 24px;
  gap: 24px;
  border: 1px solid #dadde1;
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 368px;
}

.loadMoreBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 145px;
  height: 56px;
  margin: 40px auto 0;
  padding: 16px 0;
  border-radius: 200px;
  border: 1px solid #dadde1;
  background-color: transparent;
  letter-spacing: -0.01em;
  cursor: pointer;
  transition: all 350ms linear;
}

.loadMoreBtn:hover,
.loadMoreBtn:active {
  border-color: #d84343;
}
