.errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 12px;
  box-shadow: var(--shadow-light);
  padding: 10px;
  color: var(--color-primary);
  height: 15vh;
  min-height: 75px;
}

.errorTitle {
  margin-bottom: 5px;
  font-size: 20px;
}

.errorMessage {
  font-style: italic;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .errorContainer {
    height: 15vh;
    min-height: 120px;
  }
  .errorTitle {
    margin-bottom: 20px;
    font-size: 32px;
  }

  .errorMessage {
    font-size: 20px;
  }
}
