.header {
  min-width: 100%;
  width: 1440px;
  height: 72px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #f2f4f7;
}

.wrapper {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  padding: 24px 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: 28px;
  left: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  gap: 32px;
}

.active {
  color: #d84343;
}
