.vehicleList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-height: 104px;
  overflow: hidden;
}

.vehicleItem {
  display: flex;
  gap: 8px;
  padding: 12px 18px;
  border-radius: 100px;
  height: 48px;
  background-color: #f2f4f7;
}

.vehicleText {
  text-transform: capitalize;
}

.vehicleIconStroke {
  stroke: #101828;
  fill: none;
}
